# Virtual Environment
venv/

# Compiled Python files
*.pyc

# PyCharm project settings
.idea/

# Environment variables
.env

#TODO: add to environment variables. Temporarily stored in a `.py` file.
# OpenAI API KEY
secret.py

# JetBrains Qodana
qodana.yaml